@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
  margin-left: auto;
}

.navbar-item {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #1ed461;
}

.navbar-item:hover {
  color: #1ed461;
}

:root {
  --primary: #1ed461;
  --secondary: #2d5b57;
}

body {
  margin: 0;
  padding: 20px;
  font-family: "Quicksand";
  background: var(--secondary);
}

* {
  color: #fff;
  margin: 0;
}

p {
  margin: 20px;
  text-align: justify;
  padding-top: 10px;
  padding-right: 200px;
  padding-bottom: 10px;
  padding-left: 200px;
}

ul {
  margin: 20px;
  text-align: justify;
  padding-top: 10px;
  padding-right: 230px;
  padding-bottom: 10px;
  padding-left: 230px;
}

h2 {
  text-align: center;
}

img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 8px;
}

.column {
  float: left;
  width: 23.6%;
  padding: 10px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
